@font-face { font-family: code; src: url("/.fonts/code.woff2"); }

@font-face { font-family: note; src: url("/.fonts/note.woff2"); }

@font-face { font-family: text; font-style: normal; font-weight: 300; src: url("/.fonts/300.woff2");  }
@font-face { font-family: text; font-style: normal; font-weight: 400; src: url("/.fonts/400.woff2");  }
@font-face { font-family: text; font-style: italic; font-weight: 400; src: url("/.fonts/400i.woff2"); }
@font-face { font-family: text; font-style: normal; font-weight: 500; src: url("/.fonts/500.woff2");  }
@font-face { font-family: text; font-style: italic; font-weight: 500; src: url("/.fonts/500i.woff2"); }
@font-face { font-family: text; font-style: normal; font-weight: 700; src: url("/.fonts/700.woff2");  }
@font-face { font-family: text; font-style: normal; font-weight: 800; src: url("/.fonts/800.woff2");  }
@font-face { font-family: text; font-style: normal; font-weight: 900; src: url("/.fonts/900.woff2");  }
