/* Media query for dark mode around highlight themes? */
/* @include ../.media/vendor/hybrid.min.css */
/* @include ../.media/fonts/_manifest.css   */

:root {
  background: light-dark(white, #111);
  color: light-dark(black, silver);
  color-scheme: light dark;
  font: 400 16px/1.5 text, sans-serif;
  font-size: clamp(1rem, 2vw, 1.5rem);
  line-height: 1.5em;
}

::selection { background: light-dark(cyan, teal); }

a {
  color: inherit;
  font-weight: 500;
  text-decoration: underline;
  
  &:hover, &:hover strong {
    background: light-dark(black, whitesmoke);
    color: light-dark(white, #111) !important;
    padding: 0 .125rem;
    margin: 0 -.125rem;
    text-decoration: none;
    border-radius: 3px;
  }
}

article, header, footer {
  margin: 0 auto;
  max-width: 26rem;
  padding: 0 1rem;
}

article {
  position: relative;
  *:first-child { margin-top: 0; }
  > *:last-child {
    margin-bottom: 7rem;
    @media (max-width: 45rem) { margin-bottom: 3rem; }
  }
}

aside {
  @media (max-width: 46rem) { display: none; }
  
  color: light-dark(indigo, slategray);
  font-family: note;
  font-size: .875rem;
  line-height: 1rem;
  position: absolute;
  width: 7.5rem;
  
  &.left {
    margin-left: -9.5rem;
    text-align: right;
    transform: rotate(-1deg);
  }
  
  &.right {
    margin-right: -8.5rem;
    right: 0;
    transform: rotate(1deg);
  }  
}

body { margin: 0; }

code {
  font-family: code;
  font-feature-settings:
    "cv06", "cv18", "cv25",
    "cv26", "cv27", "cv28",
    "cv32", "ss01", "ss04",
    "ss07", "ss09", "ss10",
    "onum", "zero";
}

h1 {
  color: light-dark(black, white);
  font-size: 1.25rem;
  font-weight: 800;
  margin: 2rem 0 1rem 0;
  text-transform: uppercase;
}

h2 {
  color: light-dark(firebrick, white);
  font-size: 1.125rem;
  font-weight: 700;
  margin: 3rem 0 .5rem 0;
}

h3 {
  color: light-dark(black, ghostwhite);
  font-size: 1rem;
  font-weight: 700;
  font-variant: all-small-caps;
  margin: 2.25rem 0 .5rem 0;
}

h2 + h3 { margin-top: .5rem; }

header {
  font-size: 0;
  padding: 3rem 1rem;
  
  a {
    color: light-dark(silver, dimgray);
    font-size: 1rem;
    font-weight: 400;
    margin-right: 1rem;
    text-decoration: none;
    text-transform: lowercase;
    
    &:hover { margin-right: .875rem; }
  }
  
  a[href="mailto:email@weshipsoftware.com"] {
    color: light-dark(mediumblue, greenyellow);
    font-weight: 500;
    
    &:before {
      content: "🚀";
      display: inline-block;
      margin-left: -2rem;
      margin-right: .5rem;
      text-align: right;
      width: 1.5rem;
    }
  }
}

hr {
  background: light-dark(whitesmoke, #222);
  border: none;
  height: .25rem;
  margin: 2rem 0;
}

mark {
  background-color: light-dark(yellow, darkslateblue);
  color: light-dark(black, whitesmoke);
  font-weight: 500;
  padding: 0 .125rem;
  margin: 0 -.125rem;
}

p {
  margin: 0 0 .5rem 0;

  code {
    background: lightyellow;
    font-size: .875rem;
  }

  strong { font-weight: 700; }
}

pre {
  background: black;
  font-size: .75rem;
  margin: 0 0 .5rem -1rem;
  overflow-x: scroll;
  padding: 0;
  width: calc(100% + 2rem);
  
  code {
    background: black !important;
    padding: 1rem !important;
  }
}

pre + samp {
  border-top: 1px dashed light-dark(dimgray, #323032);
  margin-top: -.5rem;
}

samp {
  background: black;
  color: light-dark(white, #FCFCFC);
  display: block;
  font-family: text;
  font-size: .875rem;
  margin: 0 0 0 -1rem;
  padding: .5rem 1rem;
  width: 100%;
}

samp ~ pre {
  border-top: 1px dashed light-dark(dimgray, #323032);
  code { padding-top: .5rem !important; }
}

strong { font-weight: 500; }

table { width: 100%; }

ul {
  list-style-type: "👉  ";
  margin: 0 0 .5rem 0;
  padding: 0;
  li {
    margin-bottom: .5rem; }
}

/*hr + ul, body#readme ul {
  color: light-dark(black, gainsboro);
  font-weight: 500;
  margin: 0 0 .5rem 0;
  padding: 0;
  
  li { margin-bottom: .5rem; }
}*/


#readme header a:last-child { display: none; }
