@font-face { font-family: "Aleo";         font-weight: 100 900; src: url("/!assets/fonts/Aleo.woff2");         }
@font-face { font-family: "Hyperlegible"; font-weight: 100 900; src: url("/!assets/fonts/Hyperlegible.woff2"); }
@font-face { font-family: "IndieFlower";                        src: url("/!assets/fonts/IndieFlower.woff2");  }

:root { font: 16px/1.45 "Hyperlegible", sans-serif; }

@media (min-width: 48rem) { :root { font-size: 17px; } }
@media (min-width: 50rem) { :root { font-size: 18px; } }
@media (min-width: 53rem) { :root { font-size: 19px; } }
@media (min-width: 56rem) { :root { font-size: 20px; } }
@media (min-width: 59rem) { :root { font-size: 21px; } }
@media (min-width: 62rem) { :root { font-size: 22px; } }
@media (min-width: 65rem) { :root { font-size: 23px; } }
@media (min-width: 67rem) { :root { font-size: 24px; } }
@media (min-width: 70rem) { :root { font-size: 25px; } }

::selection { background-color: greenyellow; }

a {
  border-radius: 1px;
  box-shadow: inset 0 -2px 0 deeppink;
  color: inherit;
  text-decoration: none;
  transition: box-shadow .2s;
}

a:hover                 { box-shadow: inset 0 -1.1em 0 #ff149333; }
a[rel="external"]       { box-shadow: inset 0 -2px 0 deepskyblue; }
a[rel="external"]:hover { box-shadow: inset 0 -1.1em 0 #00bfff33; }

article {
  margin: auto;
  padding: 0 2rem;
  width: 22.5rem;
}

aside {
  color: lightslategray;
  font-family: "IndieFlower", sans-serif;
  font-size: .9rem;
  float: left;
  margin-left: -11rem;
  text-align: right;
  transform: rotate(-2deg);
  width: 8rem;
}

@media (prefers-color-scheme: dark) { aside { color: slategray; } }

aside.right {
  float: right;
  margin-right: -11rem;
  text-align: left;
  transform: rotate(2deg);
}

aside.pointing::after {
  content: "☞";
  display: block;
  float: right;
  font-size: 1.25rem;
  margin-right: -1.5em;
  transform: rotate(-3deg);
  width: 1em;
}

aside.right.pointing::before {
  content: "☜";
  display: block;
  float: left;
  font-size: 1.25rem;
  margin-left: -1.5em;
  transform: rotate(-3deg);
  width: 1em;
}

aside.right.pointing::after { content: none; }

@media (max-width: 47rem) { aside { display: none; } }

blockquote {
  color: #000000DD;
  border-left: 3px solid lightslategray;
  margin: 0;
  padding: 0 .8rem 0 calc(.8rem - 3px);
}

@media (prefers-color-scheme: dark) {
  blockquote {
    border-color: darkslategray;
    color: #FFFFFFDD;
  }
}

blockquote::before {
  color: gainsboro;
  content: "“";
  display: block;
  font-size: 3rem;
  position: absolute;
  margin: -.5rem 0 0 -2.5rem;
}

@media (prefers-color-scheme: dark) { blockquote::before { color: slategray; } }

blockquote p {
  font-style: oblique;
  font-weight: 400;
}

body {
  background-color: white;
  margin: 0;
}

@media (prefers-color-scheme: dark) { body { background-color: black; } }

dt {
  font-weight: 500;
  margin-bottom: .3rem;
}

dd {
  font-weight: 300;
  margin: 0 0 1rem 0;
}

dl.services dt {
  border-top: 1px solid gainsboro;
  margin-top: 2rem;
  padding-top: 1rem;
}

@media (prefers-color-scheme: dark) { dl.services dt { border-color: slategray; } }

em { font-style: oblique; }

footer {
  background-color: white;
  color: dimgray;
  font-family: "Aleo", sans-serif;
  min-width: 24.5rem;
  padding: 1rem;
}

@media (prefers-color-scheme: dark) { footer { background-color: black; } }

footer a {
  box-shadow: none !important;
  color: firebrick;
  font-weight: 500;
}

footer a:hover { text-decoration: underline; }

footer span {
  color: silver;
  float: right;
}

@media (prefers-color-scheme: dark) { footer span { color: dimgray; } }

footer span a { color: darkslategray; }

h1, h2, h3 {
  font-family: "Aleo", sans-serif;
  margin: 2em 0 1rem 0;
}

h1 {
  color: black;
  font-size: 2rem;
  font-weight: 900;
}

@media (prefers-color-scheme: dark) { h1 { color: snow; } }

h1 + p {
  color: #000000DD;
  font-size: 1.25rem;
}

@media (prefers-color-scheme: dark) { h1 + p { color: #FFFFFFDD; } }

h2 {
  color: maroon;
  font-size: 1.5rem;
  font-weight: 700;
}

@media (prefers-color-scheme: dark) { h2 { color: cadetblue; } }

h2::before {
  color: gainsboro;
  content: "#";
  display: inline-block;
  font-weight: 400;
  margin-left: -1.6rem;
  margin-right: .6rem;
  text-align: right;
  width: 1rem;
}

@media (prefers-color-scheme: dark) { h2::before { color: slategray; } }

h3 {
  color: #000000EE;
  font-size: 1rem;
  font-variant: all-small-caps;
  font-weight: 700;
}

@media (prefers-color-scheme: dark) { h3 { color: #FFFFFFEE; } }

header {
  background-color: white;
  font-family: "Aleo", sans-serif;
  min-width: 24.5rem;
  padding: 1rem;
}

@media (prefers-color-scheme: dark) { header { background-color: black; } }

header a { box-shadow: none; }

header a:hover {
  box-shadow: none;
  text-decoration: underline;
}

header a:first-child {
  color: orangered;
  font-weight: 600;
}

header a:first-child::before {
  content: "🚀";
  display: inline-block;
  margin-right: .25em;
  text-decoration: none;
  transition: .2s ease-in-out;
}

header a:first-child:hover::before { transform: scale(1.2); }

header span { color: slategray; }

@media (max-width: 35rem) { header span { display: none; } }

header span::before {
  color: gainsboro;
  content: "/ ";
}

@media (prefers-color-scheme: dark) { header span::before { color: darkslategray } }

header a:last-child {
  background-color: rebeccapurple;
  color: white;
  float: right;
  font-size: .8rem;
  font-weight: 500;
  padding: .1rem .3rem;
}

@media (prefers-color-scheme: dark) { header a:last-child { color: snow; } }

hr {
  border: none;
  border-top: 1px dashed gainsboro;
  margin: 2rem 1rem;
}

img {
  margin: 0 0 1rem -1rem;
  width: calc(100% + 2rem);
}

@media (max-width: 46rem) {
  img {
    margin-left: -2rem;
    width: calc(100% + 4rem);
  }
}

li::marker { color: lightslategray; }

main {
  background-color: snow;
  border: 1px dashed gainsboro;
  border-width: 1px 0;
  color: #000000CC;
  margin: auto;
  padding: 2rem 0;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  main {
    background-color: #1b1d1f;
    border-color: darkslategray;
    color: snow;
  }
}

main h1:first-child { margin-top: 0; }

mark {
  background-color: yellow;
  border-radius: 1px;
  color: black;
  font-weight: 400;
}

ol, ul { padding-inline-start: 0; }

p, ol, ul {
  font-weight: 300;
  margin: 0 0 1rem 0;
}

strong { font-weight: 500; }

.readme h1::before {
  content: "🧑‍💻";
  display: inline-block;
  padding-right: .4rem;
  margin-left: -2.4rem;
  text-align: right;
  width: 2rem;
}

@media (max-width: 28rem) { .readme h1::before { display: none; } }
