@font-face {
  font-family: code;
  src: url("/.media/fonts/code.woff2") format("woff2-variations"),
       url("/.media/fonts/code.woff2") format("woff-variations");
  font-weight: 300 700;
  font-style: normal;
}

@font-face { font-family: note; src: url("/.media/fonts/note.woff2"); }

@font-face { font-family: text; font-style: normal; font-weight: 400; src: url("/.media/fonts/400.woff2");  }
@font-face { font-family: text; font-style: italic; font-weight: 400; src: url("/.media/fonts/400i.woff2"); }
@font-face { font-family: text; font-style: normal; font-weight: 500; src: url("/.media/fonts/500.woff2");  }
@font-face { font-family: text; font-style: italic; font-weight: 500; src: url("/.media/fonts/500i.woff2"); }
@font-face { font-family: text; font-style: normal; font-weight: 700; src: url("/.media/fonts/700.woff2");  }
@font-face { font-family: text; font-style: normal; font-weight: 800; src: url("/.media/fonts/800.woff2");  }
@font-face { font-family: text; font-style: normal; font-weight: 900; src: url("/.media/fonts/900.woff2");  }
