/* tint, tone, shade */

:root {
	--red\-:      color-mix(in oklch, var(--magenta), var(--red) calc(100%/12*11));
	--red:        color(display-p3 0.867 0 0);
	--red\+:      color-mix(in oklch, var(--red), var(--yellow) calc(100%/12*1));
	--scarlet\-:  color-mix(in oklch, var(--red), var(--yellow) calc(100%/12*2));
	--scarlet:    color-mix(in oklch, var(--red), var(--yellow) 25%);
	--scarlet\+:  color-mix(in oklch, var(--red), var(--yellow) calc(100%/12*4));
	--orange\-:   color-mix(in oklch, var(--red), var(--yellow) calc(100%/12*5));
	--orange:     color-mix(in oklch, var(--red), var(--yellow));
	--orange\+:   color-mix(in oklch, var(--red), var(--yellow) calc(100%/12*7));
	--amber\-:    color-mix(in oklch, var(--red), var(--yellow) calc(100%/12*8));
	--amber:      color-mix(in oklch, var(--red), var(--yellow) 75%);
	--amber\+:    color-mix(in oklch, var(--red), var(--yellow) calc(100%/12*10));
	--yellow\-:   color-mix(in oklch, var(--red), var(--yellow) calc(100%/12*11));
	--yellow:     color(display-p3 1 1 0);
	--yellow\+:   color-mix(in oklch, var(--yellow), var(--green) calc(100%/12*1));
	--lemon\-:    color-mix(in oklch, var(--yellow), var(--green) calc(100%/12*2));
	--lemon:      color-mix(in oklch, var(--yellow), var(--green) 25%);
	--lemon\+:    color-mix(in oklch, var(--yellow), var(--green) calc(100%/12*4));
	--apple\-:    color-mix(in oklch, var(--yellow), var(--green) calc(100%/12*5));
	--apple:      color-mix(in oklch, var(--yellow), var(--green));
	--apple\+:    color-mix(in oklch, var(--yellow), var(--green) calc(100%/12*7));
	--lime\-:     color-mix(in oklch, var(--yellow), var(--green) calc(100%/12*8));
	--lime:       color-mix(in oklch, var(--yellow), var(--green) 75%);
	--lime\+:     color-mix(in oklch, var(--yellow), var(--green) calc(100%/12*10));
	--green\-:    color-mix(in oklch, var(--yellow), var(--green) calc(100%/12*11));
	--green:      color(display-p3 0 0.526 0);
	--green\+:    color-mix(in oklch, var(--green), var(--cyan) calc(100%/12*1));
	--mint\-:     color-mix(in oklch, var(--green), var(--cyan) calc(100%/12*2));
	--mint:       color-mix(in oklch, var(--green), var(--cyan) 25%);
	--mint\+:     color-mix(in oklch, var(--green), var(--cyan) calc(100%/12*4));
	--viridian\-: color-mix(in oklch, var(--green), var(--cyan) calc(100%/12*5));
	--viridian:   color-mix(in oklch, var(--green), var(--cyan));
	--viridian\+: color-mix(in oklch, var(--green), var(--cyan) calc(100%/12*7));
	--seafoam\-:  color-mix(in oklch, var(--green), var(--cyan) calc(100%/12*8));
	--seafoam:    color-mix(in oklch, var(--green), var(--cyan) 75%);
	--seafoam\+:  color-mix(in oklch, var(--green), var(--cyan) calc(100%/12*10));
	--cyan\-:     color-mix(in oklch, var(--green), var(--cyan) calc(100%/12*11));
	--cyan:       color(display-p3 0 1 1);
	--cyan\+:     color-mix(in oklch, var(--cyan), var(--blue) calc(100%/12*1));
	--sky\-:      color-mix(in oklch, var(--cyan), var(--blue) calc(100%/12*2));
	--sky:        color-mix(in oklch, var(--cyan), var(--blue) 25%);
	--sky\+:      color-mix(in oklch, var(--cyan), var(--blue) calc(100%/12*4));
	--azure\-:    color-mix(in oklch, var(--cyan), var(--blue) calc(100%/12*5));
	--azure:      color-mix(in oklch, var(--cyan), var(--blue));
	--azure\+:    color-mix(in oklch, var(--cyan), var(--blue) calc(100%/12*7));
	--cerulean\-: color-mix(in oklch, var(--cyan), var(--blue) calc(100%/12*8));
	--cerulean:   color-mix(in oklch, var(--cyan), var(--blue) 75%);
	--cerulean\+: color-mix(in oklch, var(--cyan), var(--blue) calc(100%/12*10));
	--blue\-:     color-mix(in oklch, var(--cyan), var(--blue) calc(100%/12*11));
	--blue:       color(display-p3 0 0 0.645);
	--blue\+:     color-mix(in oklch, var(--blue), var(--magenta) calc(100%/12*1));
	--indigo\-:   color-mix(in oklch, var(--blue), var(--magenta) calc(100%/12*2));
	--indigo:     color-mix(in oklch, var(--blue), var(--magenta) 25%);
	--indigo\+:   color-mix(in oklch, var(--blue), var(--magenta) calc(100%/12*4));
	--purple\-:   color-mix(in oklch, var(--blue), var(--magenta) calc(100%/12*5));
	--purple:     color-mix(in oklch, var(--blue), var(--magenta));
	--purple\+:   color-mix(in oklch, var(--blue), var(--magenta) calc(100%/12*7));
	--violet\-:   color-mix(in oklch, var(--blue), var(--magenta) calc(100%/12*8));
	--violet:     color-mix(in oklch, var(--blue), var(--magenta) 75%);
	--violet\+:   color-mix(in oklch, var(--blue), var(--magenta) calc(100%/12*10));
	--magenta\-:  color-mix(in oklch, var(--blue), var(--magenta) calc(100%/12*11));
	--magenta:    color(display-p3 1 0 1);
	--magenta\+:  color-mix(in oklch, var(--magenta), var(--red) calc(100%/12*1));
	--pink\-:     color-mix(in oklch, var(--magenta), var(--red) calc(100%/12*2));
	--pink:       color-mix(in oklch, var(--magenta), var(--red) 25%);
	--pink\+:     color-mix(in oklch, var(--magenta), var(--red) calc(100%/12*4));
	--rose\-:     color-mix(in oklch, var(--magenta), var(--red) calc(100%/12*5));
	--rose:       color-mix(in oklch, var(--magenta), var(--red));
	--rose\+:     color-mix(in oklch, var(--magenta), var(--red) calc(100%/12*7));
	--crimson\-:  color-mix(in oklch, var(--magenta), var(--red) calc(100%/12*8));
	--crimson:    color-mix(in oklch, var(--magenta), var(--red) 75%);
	--crimson\+:  color-mix(in oklch, var(--magenta), var(--red) calc(100%/12*10));
}
